.rounded-pill {
  border-radius: 50%;
  overflow: hidden;
  width: 70px; /* Adjust the width to match your desired size */
  height: 70px; /* Adjust the height to match your desired size */
  object-fit: cover; /* Preserve aspect ratio and fill the container */
}
